{{page-title "Filing"}}

<h1>Filing</h1>

<ul>
  <li>
    {{this.model.taxYear}} {{if this.model.amended "(amended)"}}
  </li>
  <li>EIN: {{this.model.filer.ein}}</li>
  <li>{{this.model.filer.name}}</li>
  <li>{{this.model.filer.street}}</li>
  <li>{{this.model.filer.city}}</li>
  <li>{{this.model.filer.state}}</li>
  <li>{{this.model.filer.zip}}</li>
</ul>

<table>
  <thead>
    <tr>
      <th>
        Receiver
      </th>
      <th>
        EIN
      </th>
      <th>
        Street
      </th>
      <th>
        City
      </th>
      <th>
        State
      </th>
      <th>
        Zip
      </th>
      <th>
        Purpose
      </th>
      <th>
        Cash Amount
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model.awards as |award|}}
      <tr>
        <td>
          {{award.receiver.name}}
        </td>
        <td>
          {{award.receiver.ein}}
        </td>
        <td>
          {{award.receiver.street}}
        </td>
        <td>
          {{award.receiver.city}}
        </td>
        <td>
          {{award.receiver.state}}
        </td>
        <td>
          {{award.receiver.zip}}
        </td>
        <td>
          {{award.purpose}}
        </td>
        <td>
          {{award.cashAmount}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
